/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=JetBrains+Mono:wght@100;400;700;800&family=Major+Mono+Display&family=Noto+Sans+TC:wght@100;400;700&family=Noto+Serif+TC:wght@200;400;700&display=swap');

/*-- scss:defaults --*/
$backgroundcolor: #000000 !default;

$mainfont: 'Inter', 'Noto Sans TC', sans-serif !default;
$font-family-sans-serif: 'Inter', 'Noto Sans TC', sans-serif !default;
$font-family-monospace: 'JetBrains Mono', 'Noto Sans TC', monospace;
$font-size-root: 18px !default;
$h1-font-size: 3rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.6rem !default;
$h4-font-size: 1.2rem !default;

$toc-font-size: 0.8rem !default;
$toc-active-border: #ffffff !default;
$toc-inactive-border: #ffffff30 !default;
$toc-color: #ffffff !default;

$link-color: #00aeff !default;
$link-color-hover: #ffffff !default;
$selection-bg: #ffffff !default;
$selection-color: #323232 !default;

$code-color: #ffffff !default;
$code-bg: #00aeff95 !default;
$code-block-bg: #20202090 !default;
$btn-code-copy-color-active: $link-color !default;

$popover-bg: #ffffff !default;

$border-radius: 0px default;

$headings-font-weight:  400 !default;

/*-- scss:rules --*/

h1 {
    font-family: $mainfont;
    word-spacing: 10%;
}

h2, h3, h4 {
    font-family: $font-family-sans-serif;
    font-weight: 100;
}

h5, h6 {
    font-family: $font-family-sans-serif;
}

body {
    font-family: 'Roboto Serif', 'Noto Serif TC', serif;
    font-weight: 200;
    background-color: $backgroundcolor;
}

code {
    border-radius: 5px;
    background-color: $code-bg;
    border: 0.15px solid $link-color;
    font-weight: 400;
}

#signature {
    font-family: $font-family-monospace;
    font-weight: 400;
}

.sourceCode {
    border: none;
}

.title {
    font-family: $font-family-monospace;
    font: 400;
}

.footnote-ref {
    font-family: $font-family-monospace;
    font-weight: 400;
}

/*-- navbar --*/
.navbar-title {
    font-family: $font-family-monospace;
    font-weight: 700;
    color: #ffffff !important;
}

.navbar-title:hover::before {
    content: "cd ~/";
    color: $link-color !important;
    font-weight: 400;
}

/*-- footer --*/
.nav-footer {
    height: 10vh;
}

.nav-footer-center {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem !important;
}

/*-- table --*/
tbody {
    font-family: $font-family-monospace;
    font-weight: 400;
}

tbody > tr:hover {
    background-color: #ffffff;
    color:#000000 !important;
}

tbody > tr > td > a:hover {
    background-color: #ffffff;
    color:#000000 !important;
}

/*-- title-block --*/
.quarto-title-banner {
    background-color: #000000;
}

.quarto-title > .title {
    font-family: $font-family-monospace;
    font-size: 6rem !important;
    font-weight: 800;
}

.quarto-title > .subtitle {
    font-family: $font-family-monospace;
    font-weight: 400;
    font-size: 100%;
    width: 60%;
    min-width: 300px;
}

strong {
    color: #ffffff !important;
}

.external {
    padding: 0.3em;
    border-radius: 5px;
    text-decoration: none;
}

.external:hover {
    color: #ffffff !important;
    border: 0.15px solid $link-color;
}

/*-- margin --*/
#TOC {
    font-family: $font-family-sans-serif;
    font-weight: lighter;
}

.quarto-margin-header {
    font-family: $mainfont;
    font-weight: 400;
}