/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=JetBrains+Mono:wght@400;700;800&family=Noto+Sans+TC:wght@100;400;700&family=Permanent+Marker&display=swap');

/*-- scss:defaults --*/
$mainfont: 'Inter', 'Noto Sans TC', sans-serif !default;
$font-family-sans-serif: 'Inter', 'Noto Sans TC', sans-serif !default;
$font-family-monospace: 'JetBrains Mono', 'Noto Sans TC', monospace;
$font-size-root: 16px !default;
$h1-font-size: 4rem !default;
$h2-font-size: 3rem !default;

$link-color: #ff38fc !default;
$link-color-hover: #ffffff !default;
$selection-bg: #ffffff !default;
$selection-color: #323232 !default;

$code-color: #ffffff !default;
$code-bg: #323232 !default;
$code-block-bg: #323232 !default;

$border-radius: 0px default;

$headings-font-weight:  500 !default;

/*-- scss:rules --*/

h1, h2, h3, h4 {
    font-family: $font-family-sans-serif;
}

h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

/*-- footer --*/
.nav-footer {
    height: 10vh;
}

.nav-footer-center {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem !important;
}

/*-- table --*/
tbody > tr:hover {
    background-color: #ffffff;
    color:#000000 !important;
}

tbody > tr > td > a:hover {
    background-color: #ffffff;
    color:#000000 !important;
}

/*-- title-block --*/
.quarto-title-banner {
    background-color: #000000;
}

.quarto-title > .subtitle {
    width: 60%;
    font-family: $font-family-monospace;
    font-weight: 100;
}

.quarto-title > .title {
    font-family: $font-family-monospace;
    font-size: 6rem !important;
}

.quarto-title > .subtitle {
    font-family: $font-family-monospace;
    font-weight: 100;
}

/*-- navbar --*/
.navbar-title {
    font-family: $font-family-monospace;
    font-weight: 700;
    color: #ffffff !important;
}

.navbar-title:hover::before {
    content: "cd ~/";
    color: #ff38fc;
    font-weight: 100;
    transition: all linear 1s;
}

/*-- markdown format --*/
