---
layout: default
---

<main class="main-content fadeInDown delay_075s">
  <div class="author-box">
      {% if site.data.author.image and site.data.author.image != "" %}
      <div class="author-avatar" style="background-image: url('{{ site.data.author.image }}')"><span class="screen-reader-text">{{ site.data.author.name }}'s Picture</span></div>
      {% endif %}
      <div class="author-details">
        <div class="author-bio">{{ site.data.author.bio | markdownify }}</div>
        {% if site.data.author.location and site.data.author.location != "" %}
        <span class="author-location">{{ site.data.author.location}}</span>
        {% endif %}
        {% if site.data.author.url and site.data.author.url != "" %}
        <span class="author-website"><a href="{{ site.data.author.url }}" target="_blank" rel="noopener">{{ site.data.author.url }}</a></span>
        {% endif %}
      </div><!-- .author-details -->
    </div><!-- .author-box -->

  <div class="contact">
    <h6><a href="https://twitter.com/theYenLai">Twitter</a> | <a href=""> GitHub</a> | laiyenju@outlook.com </h6>
  </div>

  <hr>

  <div class="works">
    <h1 class="archive-tags"> Works </h1>

    <div class="work-section" style="display: flex; flex-wrap: wrap;">
      {% for post in site.tags.Work %}
        <div style="padding-bottom: 0.5em; width: 30em;">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="card" style="padding-left: 0.5em;">
              <div style="display: block;">
                <img src=""{{ post.feature_image | relative_url }}" alt="{{ post.title }}">
              </div>
              <div style="display: block; padding-top: 0.5em; padding-right: 0.8em; padding-left: 0.5em;">
                <h5 class="read-more-link" style="margin: 0; padding-bottom: 0.5em;"> {{ post.title }} </h5>
                <p class="read-more-link" style="font-size: medium;"> {{ post.excerpt }} </p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div> 

  </div>

  <article class="post">
    <div class="post-content">
      <div class="archive-tags">
        <h1> Writing Something </h1>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign sortedTags = site_tags | split:',' | sort %}
      </div><!-- .archive-tag-list -->
      {% for tag in sortedTags %}
        <h4 id="{{ tag | cgi_escape }}" style="text-transform:uppercase">{{ tag }}</h4>
        <ul class="archive-post-list">
        {% for post in site.tags[tag] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="archive-meta"> — <time class="archive-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></li>
        {% endfor %}
        </ul><!-- .archive-post-list -->
      {% endfor %}
    </div><!-- .post-content -->
  </article><!-- .post -->

<!--   {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Newer Posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Older Posts &rarr;</a>
      {% endif %}
    </div>
  </nav> .pagination
  {% endif %} -->

</main><!-- .site-main -->
